.signup-container {
  background: #f5f4f4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  width: 300px;
  margin: auto;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container label {
  display: block;
  margin-top: 10px;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-container button {
  width: 106%;
  padding: 10px;
  margin-top: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-container button:hover {
  background: #0056b3;
}   

.signup-container a {
  display: inline-block;
  margin-top: 20px;
  text-align: right;
  
}
